#header {
    width: 960px;
    padding:40px 0;
    background-color:#ebebeb;
    text-align:center;
}

#container {
    margin:0 auto;
    width:960px;
}

#nav {
    
    width:960px;
    padding:40px 0;
    background-color:#ebebeb;
    text-align:center;
    margin:10px 0 20px 0;
}

#section_article {
    height:300px;
    width:960px;
}

#section {
    float:left;
    width:535px;
    padding-top:20px;
    height:280px;
    background-color: #ebebeb;
    text-align:center;
    margin:0 25px 0 0;
}

#aside {
    float:left;
    width:400px;
    height:280px;
    padding-top:20px;
    background-color: #ebebeb;
    text-align:center;
}

#footer {
    clear:both;
    margin-top:30px;
    padding-top:20px;
    width:960px;
    height:80px;
    text-align:center;
    background-color: #ebebeb;
}

#article {
    padding-top:20px;
    margin-top:40px;
    height:180px;
    width:495px;
    margin-left:20px;
    background-color:#777777;
    color:#ebebeb;
}

body {
    background-color:#777777;
    color:#84807B;
    font: 2vh sans-serif;
}
.textbox {
    padding-top:10px;
    height:40px;
    background-color:#ebebeb;
    color:#777777;
    width:435px;
    margin-left:30px;
    margin-bottom:10px;
}

.topbox {
    margin-top:20px;
}